.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

* {
  box-sizing:border-box;
}

body {
  margin:auto;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 50px;
}

button {
  display: block;
}

.home a {
  text-decoration: none;
  color:#36A099; 
  font-family: 'Lilita One', cursive;
  margin-left: 25%;
}



.header {
  width: 100%;
  padding: 1.5em;
  padding-bottom: 0.2em;
}

.logo {
  height: 100%;
  width: 40%;
  min-width: 350px;
}

.logo,
.logo h1,
.logo img {
  float: left;
}

.logo h1 {
  color:#36A099;
  margin:auto;
}

.logo img {
  height: 70px;
  width: 70px;
}

.navbar {
  /*padding-left: 10rem;*/
  float: right;
  width: 50%;
}

.navbar > ul {

  list-style: none;
}

.navbar li {
  float: left;
  width: 33%;
}

.social {
  position: absolute;
  top: 1%;
  right: 5%;
}

.social-list li {
  display: inline;
}

.presentation {
  position: relative;
}

.presentation > img {
  width: 100%;
  border-top: solid 4px #36A099;
  border-bottom: solid 4px #36A099;
}

/*WORK SECTION*/

#work {
  padding-top: 1rem;
  text-align: center;
  margin-bottom: 3em;
  overflow: hidden;
}
#work a {
  text-decoration: none;
  color:#36A099; 
  font-family: 'Lilita One', cursive;
  font-size: 18px;
}

#work h2 {
  font-family: sans-serif;
  color: #000;
}

#work p {
  margin-bottom: 3em;
}
.col-lg-4 {
  float: left;
  width: 33%;
  min-width: 290px;
  min-height: 410px;
}

.imgcol {
  height: 250px;
}

#uniapp {
  margin-top:30px;
  height: 180px;
  width: 100px;
}

#rps {
  height: 250px;
  width: 310px;
}

#cv {
  height: 250px;
  width: 190px;
}

/*ABOUT SECTION*/


